<div class="row g-2 mb-5">
     <div>
          <p> We are looking for highly motivated graduate and undergraduate students to join our lab. Please reach out to Rohan via email to discuss potential projects.</p>
    <p><b> Prospective graduate students:</b> apply to the <a href="https://biology.unt.edu/graduate-programs/phd-biochemistry-and-molecular-biology-bmb" target="_blank">Biochemistry and Molecular Biology program with laboratory rotations</a>.</p> 
   
   
    {% for contact in site.data.settings.contacts %}
   </div>
      <div class="col-md-12 mt-0">
      <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    <div class="row g-3 mb-0">
      <div class="col-md-8">
        <h4>{{ contact.name }}</h4>
           <div style="line-height: 1.2;">
        <p>{{ contact.title }}, {{ contact.department }}</p>
        <p>{{ contact.institution }} </p>
        <p>1155 Union Cir, Denton, TX 76205</p>
        <p>Office/Lab: {{ contact.office }}</p>
        <p>email: {{ contact.email }}</p>
     </div>    
    </div>
    {% endfor %}
  </div>
</div>
