<div class="row g-2 mb-5">
     <div>
     We are looking for graduate and undergraduate students to join our lab. Highly motivated individuals may contact Rohan at <b>rohan.balakrishnan@unt.edu</b> to discuss potential projects.
    <p>Our lab is located in <b>Life Sciences Complex A229</b></p>
    {% for contact in site.data.settings.contacts %}
   </div>
      <div class="col-md-12 mt-0">
      <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    <div class="row g-3 mb-0">
      <div class="col-md-8">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }}, {{ contact.department }}</p>
        <p>{{ contact.institution }} </p>
        <p>1155 Union Cir, Denton, TX 76205</p>
        <p>Office/Lab: {{ contact.office }}</p>
        <p>email: {{ contact.email }}</p>
        
    </div>
    {% endfor %}
  </div>
</div>
