<div class="row g-5 mb-5">
  <div>
     class="fw-bold border-bottom pb-3 mb-2 mt-0">We are looking for graduate and undergraduate students to join our lab. Highly motivated individuals may contact Rohan at <i>rohan.balakrishnan@unt.edu</i> to discuss potential projects.
    <p> 
    <p>Our lab is located in Life Sciences Complex A229</p>
    {% for contact in site.data.settings.contacts %}
   </div>
      <div class="col-md-11 mt-0">
      <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    <div class="row g-5 mb-5">
      <div class="col-md-8">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }},{{ contact.department }}</p>
        <p>{{ contact.institution }} </p>
        <p>{{ contact.institution_address }}</p>
        <p>Phone: {{ contact.phone }}</p>
        <p>Email: {{ contact.email }}</p>
        <p>Office/Lab: {{ contact.office }}</p>
    </div>
    {% endfor %}
  </div>
</div>
