---
layout: default
---

{{ content }}
<link rel="stylesheet" href="assets/css/academicons.min.css"/>
<h3 class="fw-bold border-bottom pb-3 mb-7">People</h3>
{% for person in site.data.settings.people %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p><h5>{{ person.name }}</h5><p>
    <p>{{ person.title }}</p>
    <p><b>affiliations</b>: {{ person.department }}</p>
    <p><b>email</b>: {{ person.email }}</p>
    <p><b>office/lab</b>: {{ person.office }}</p>
    <p><a href="{{ person.url }}"target="_blank"><i class="ai ai-google-scholar-square ai-3x"></i></a></p>
  </div>
  <div class="col-md-4">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="Contact" width="50%">
  </div>
</div>
{% endfor %}
